# Prerequisites
*.d

# do not upload vscode
.vscode

# ignore build folder
build

# do not update apple store
.DS_Store

# do not upload __MACOSX
__MACOSX

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
